@font-face {
	font-family: 'TTNorms';
	src: url('../fonts/TTNorms-Thin.ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../fonts/TTNorms-Light.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../fonts/TTNorms-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../fonts/TTNorms-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../fonts/TTNorms-Bold.ttf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../fonts/TTNorms-ExtraBold.ttf');
	font-style: normal;
	font-weight: 700;
}