.popup-close-button {
	display: block;
	width: 30px;
	height: 30px;
	background: url('../../images/close-icon.svg') no-repeat;
	background-size: contain;
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
	transition: transform .3s;

	&:hover {
		transform: rotate(180deg);
	}
}